.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {  
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.viewport-hg {
  height: calc(100vh - 58px);
}

.vr-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-config {
  z-index: 100;
  position: relative;
}

.hr-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lightgrey-font {
  color: lightgrey;
}

.white-font {
  color: snow;
}

.snow-background {
  background-color: snow;
} 

.intro-mn-hg {
  min-height: 150px;
}

.top-diagonal-wr {
  transform: skewY(1deg);
  margin-top: -15px
}

.top-diagonal-in {
  transform: skewY(-1deg);
}

.card-effects {
  box-shadow: 1px 1px 4px lightgrey;
  /* border: 1px solid rgb(206 206 206 / 13%); */
}

.form-container {
  display: flex;
  flex-direction: column;
}

.marine-blue {
  background-color: rgb(0,73,111);  
}

.h-font {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 50px;
}

.main-font {
  font-family: 'Ubuntu Mono', monospace;
  /* font-size: 10px; */
}

.sub-font {
  font-family: 'Montserrat', 	Sans Serif;
  /* font-size: 10px; */
}

.error-bar {
  /* border: 1px solid red; */
}

.width-100 {
  width: 100%;
}

.error-text {
  color: red
}

.cl-width {
  width: 350px;
}


